<head>
  <% set_meta_tags :site => "#{@category.title} | krest-wood.by",
                   :title => "#{@category.title}",
                   :reverse => true,
                   :description => Seo.get_description_for(@category),
                   :keywords => Seo.get_keywords_for(@category) %>
</head>
<ul class="thumbnails">
  <% @items.each do |item| %>
    <li class="span3">
      <div class="thumbnail">
        <div id="gallery">
          <a href=<%= item.galleries.first.image.url(:normal) unless item.galleries.blank? %> title= <%= item.title %> class="thumbnail">
            <% if item.galleries.first %>
              <%= image_tag item.galleries.first.image.url(:for_gallery) %>
            <% else %>
              <%= image_tag "/assets/rails.png" %>
            <% end %>
          </a>
        </div>
      <p><%= item.title %></p>
      <p>Цена: <%= item.cost %></p>
      <a class="btn" href=<%= category_item_path(item.category, item) %>>Подробнее</a>
    </div>
    </li>
  <% end %>
</ul>
