<table class="table table-bordered">
  <tr>
    <th>title</th>
    <th>description</th>
    <th>coast</th>
    <th>material</th>
    <th>category</th>
  </tr>
    <td><%= @item.title %></td>
    <td><%= @item.description %></td>
    <td><%= @item.coast %></td>
    <td><%= @item.material %></td>
    <td><%= @item.category.title if @item.category %></td>
  </tr>
</table>